@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: blueviolet;
    color:white;
}
.title{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 1.25rem;
    margin-bottom: 25px;
}
img{
    width: 100%;
    display: block;
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.container{
    width:1170px;
    margin:0 auto;
    padding-top: 50px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid__item{
    width: 295px;
    margin-bottom: 25px;
}
.card{
    height: 100%;
    padding: 20px;
    border-radius: 6px;
    border:1px solid #7210a0;
    overflow: hidden;
    background-color: darkviolet;
    transition: all 0.3s;
}
.card__image{
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display:inline-block;
    color:#333333;
}
.card__title{
    font-size: 20px;
    margin-bottom: 20px;
}
.card__date{
    margin-top: auto;
    font-size: 18px;
    color: #dbdbdb;
}
.card:hover{
    scale: 1.1;
    cursor: pointer;
}
.card:hover .card__title a{
    color:plum;
}
@media(min-width:480px)
{
    .container{
        width: 90%;
    }
    .grid__item{
        flex-basis: 50%;
    }
}
@media(min-width:768px)
{
    .grid__item{
        flex-basis: 45%;
        justify-content: center;
    }
}
@media(min-width:1024px)
{
    .container{
        width: 80%;
    }
    .grid__item{
        flex-basis: 30%;
    }
}
@media(min-width:1280px)
{
    .grid__item{
        flex-basis: 25%;
    }
}
@media(min-width:1600px)
{
    .container{
        width: 70%;
    }
    .grid__item{
        flex-basis: 23%;
    }
}